@import '../../sass/_mixin.scss';

.lhl-index-home {
    .lhl-title {
        background: #333;
        color: #fff;
        line-height: 2.2;
        font-size: 16px;
        padding: 0 16px;

    }
    .lhl-body {
        padding: 0 16px;
    }
    .lhl-subtl {
        padding: 10px 0;
        font-size: 21px;
        color: #333;

    }
    .lhl-feel {
        display: table;
        width: 100%;
        margin:0;
        margin-bottom: 1px;
        dt {
            display: table-cell;
            
            vertical-align: middle;
            padding: 10px;
            width: 60px;
            text-align: center;
            font-size: 30px;

        }
        dd {
            display: table-cell;
            background: #ffffaa;
            padding: 10px;

        }
        .box {
            margin-top: 10px;
            line-height: 1.5;
            font-weight: bold;
            &:first-child {
                margin-top: 0;
            }

        }
        .name {
            font-size: 21px;
            color: #444;

        }
        .info {
            font-size: 16px;
            color: #777;

        }

    }
    .lhl-feel-yi {
        dt {
            background: #FFEE45;
            color: #333;
        }
        dd {
            background: #ffffaa;
        }


    }
    .lhl-feel-by {
        dt {
            background: #f44;
            color: #fff;
        }
        dd {
            background: #ffddd3;
        }

    }
    .lhl-other {
        font-size: 14px;
        dl {

        }
        dt {
            display: inline;
            margin: 0;
            padding: 0;
            margin-right: 10px;

        }
        dd {
            display: inline;
            margin: 0;
            padding: 0;

        }
        strong {
            color: #4a4;

        }
        .star {
            color: #f87;

        }
        .star-1 {
            &:before { content: '★'; }

        }
        .star-2 {
            &:before { content: '★★'; }

        }
        .star-3 {
            &:before { content: '★★★'; }

        }
        .star-4 {
            &:before { content: '★★★★'; }

        }
        .star-5 {
            &:before { content: '★★★★★'; }

        }

    }
    .lhl-foot {
        font-size: 14px;
        color: #777;

    }

}
