div.lhl-index-home
    div.lhl-title 程序员老黄历
    div.lhl-subtl 今天是 {{year}} 年 {{month}} 月 {{date}} 日 星期 {{week}}

    dl.lhl-feel.lhl-feel-yi
        dt 宜
        dd
            div.box(v-for="item in yiList")
                div.name {{item.name}}
                div.info {{item.info}}

    dl.lhl-feel.lhl-feel-by
        dt 不宜
        dd
            div.box(v-for="item in byList")
                div.name {{item.name}}
                div.info {{item.info}}

    div.lhl-other
        dl
            dt 座位朝向:
            dd 
                | 面向
                strong {{direction}}
                | 写程序, BUG 最少。

        dl
            dt 进入宜饮:
            dd {{drinks}}

        dl
            dt 女神亲近指数:
            dd 
                span.star(:class="['star-' + girlStar]")

    div.lhl-foot
        p 本老黄历尚处于beta阶段，作者随时会修改，所以如果上午看到的内容跟下午不同，请勿惊慌；
        p 本老黄历仅面向程序员；
        p 本老黄历内容是程序生成的，因为只有这样程序员才会信。
